Practise/__pycache__/wordcloud.cpython-37.pyc
Practise/__pycache__/test.cpython-37.pyc
Practise/wordcloud.py
Practise/webscrape1.py
Practise/webscrape.py
Practise/matplot.csv
Practise/matplotting.py
Practise/mysqlTest.py
Practise/petrol_prices.csv
Practise/restart.py
Practise/test.py
Practise/test.class
Practise/test.rb
Practise/testdoc.txt
Practise/LRegressionTest.py
Practise/LRegression.py
Practise/instagrambot1.py
Practise/Avikdoggo_bot.py
